<!-- Hamburger Menu Button -->
<button class="sidebar-toggle" id="sidebar-toggle">☰</button>

<!-- Navigation Sidebar -->
<nav class="sidebar" id="sidebar">
    <div class="sidebar-content">
        <h3 class="sidebar-title">Quick Links</h3>
        
        <div class="nav-category">
            <button class="nav-category-btn">Generic Tools ▼</button>
            <div class="nav-links">
                <a href="{{BASE_PATH}}NumberRandomizer/">Number Randomizer</a>
                <a href="{{BASE_PATH}}OptionPicker/">Option Picker</a>
                <a href="{{BASE_PATH}}DiceRoller/">Dice Roller</a>
                <a href="{{BASE_PATH}}BYOR/">Build Your Own</a>
            </div>
        </div>
        
        <div class="nav-category">
            <button class="nav-category-btn">Gaming ▼</button>
            <div class="nav-links">
                <a href="{{BASE_PATH}}DarkSoulsRandomizer/">Dark Souls</a>
                <a href="{{BASE_PATH}}DarkSouls2Randomizer/">Dark Souls 2</a>
                <a href="{{BASE_PATH}}DarkSouls3CharacterRandomizer/">Dark Souls 3</a>
                <a href="{{BASE_PATH}}ArcRaidersRandomizer/">ARC Raiders</a>
                <a href="{{BASE_PATH}}SekiroRandomizer/">Sekiro</a>
                <a href="{{BASE_PATH}}Civ5Randomizer/">Civilization 5</a>
                <a href="{{BASE_PATH}}MinecraftRandomizer/">Minecraft</a>
                <a href="{{BASE_PATH}}EldenRingCharacterRandomizer/">Elden Ring</a>
                <a href="{{BASE_PATH}}EliteDangerousRandomizer/">Elite Dangerous</a>
                <a href="{{BASE_PATH}}GrimDawnCharacterRandomizer/">Grim Dawn</a>
                <a href="{{BASE_PATH}}LiesOfPRandomizer/">Lies of P</a>
                <a href="{{BASE_PATH}}PathOfExile2CharacterRandomizer/">Path of Exile 2</a>
                <a href="{{BASE_PATH}}SoulframeLoadoutRandomizer/">Soulframe</a>
                <a href="{{BASE_PATH}}SpaceMarine2LoadoutRandomizer/">Space Marine 2</a>
                <a href="{{BASE_PATH}}SatisfactoryRandomizer/">Satisfactory</a>
                <a href="{{BASE_PATH}}SkyrimCharacterRandomizer/">Skyrim</a>
                <a href="{{BASE_PATH}}Witcher3Randomizer/">The Witcher 3</a>
                <a href="{{BASE_PATH}}WarframeLoadoutRandomizer/">Warframe</a>
                <a href="{{BASE_PATH}}RealmOfTheMadGodRandomizer/">Realm of the Mad God</a>
                <a href="{{BASE_PATH}}MtgRandomizer/">Magic: The Gathering</a>
                <a href="{{BASE_PATH}}Starcraft2Randomizer/">StarCraft II</a>
                <a href="{{BASE_PATH}}Starcraft1Randomizer/">StarCraft 1</a>
                <a href="{{BASE_PATH}}SmiteRandomizer/">Smite</a>
                <a href="{{BASE_PATH}}Smite2Randomizer/">Smite 2</a>
                <a href="{{BASE_PATH}}NoMansSkyRandomizer/">No Man's Sky</a>
            </div>
        </div>
        
        <div class="nav-category">
            <button class="nav-category-btn">Creative ▼</button>
            <div class="nav-links">
                <a href="{{BASE_PATH}}ArtworkRandomizer/">Artwork</a>
                <a href="{{BASE_PATH}}CharacterPersonalityRandomizer/">Character Creator</a>
                <a href="{{BASE_PATH}}BassGuitarBuildRandomizer/">Bass Guitar Build</a>
                <a href="{{BASE_PATH}}ElectricGuitarBuildRandomizer/">Electric Guitar Build</a>
                <a href="{{BASE_PATH}}SongIdeaRandomizer/">Song Idea</a>
            </div>
        </div>
        
        <div class="nav-category">
            <button class="nav-category-btn">Cooking ▼</button>
            <div class="nav-links">
                <a href="{{BASE_PATH}}CookingRandomizer/">Cooking</a>
                <a href="{{BASE_PATH}}CoffeeRandomizer/">Coffee</a>
                <a href="{{BASE_PATH}}HotSauceMakingRandomizer/">Hot Sauce</a>
                <a href="{{BASE_PATH}}TeaRandomizer/">Tea</a>
                <a href="{{BASE_PATH}}BakingRandomizer/">Baking</a>
            </div>
        </div>
        
        <div class="nav-category">
            <button class="nav-category-btn">Life ▼</button>
            <div class="nav-links">
                <a href="{{BASE_PATH}}TravelRandomizer/">Travel</a>
                <a href="{{BASE_PATH}}DateIdeaRandomizer/">Date Ideas</a>
                <a href="{{BASE_PATH}}HobbyAndSkillRandomizer/">Hobby & Skill</a>
                <a href="{{BASE_PATH}}BabyActivityRandomizer/">Baby Activities</a>
            </div>
        </div>
        
        <div class="nav-category">
            <button class="nav-category-btn">Life Tools ▼</button>
            <div class="nav-links">
                <a href="{{BASE_PATH}}SleepScheduleGenerator/">Sleep Schedule</a>
                <a href="{{BASE_PATH}}MultiTimerApp/">Multi-Timer</a>
                <a href="{{BASE_PATH}}SleepCycleCalculator/">Sleep Cycle Calculator</a>
            </div>
        </div>
        
        <div class="nav-category">
            <button class="nav-category-btn">Home Brewing ▼</button>
            <div class="nav-links">
                <a href="{{BASE_PATH}}HomebrewingWineRandomizer/">Wine</a>
                <a href="{{BASE_PATH}}BeerBrewingRandomizer/">Beer</a>
                <a href="{{BASE_PATH}}DistillingRandomizer/">Distilling</a>
                <a href="{{BASE_PATH}}BrewingRandomizer/">Brewing (All)</a>
            </div>
        </div>
        
        <div class="nav-category">
            <button class="nav-category-btn">Restaurants ▼</button>
            <div class="nav-links">
                <a href="{{BASE_PATH}}RestaurantPickerRandomizer/">Restaurant Randomizer</a>
                <a href="{{BASE_PATH}}ZenBowlPokeBowlRandomizer/">Zen Bowl Poke</a>
                <a href="{{BASE_PATH}}ChipotleRandomizer/">Chipotle</a>
                <a href="{{BASE_PATH}}CavaRandomizer/">CAVA</a>
                <a href="{{BASE_PATH}}SaborRandomizer/">Sabor</a>
                <a href="{{BASE_PATH}}VelvetTacoRandomizer/">Velvet Taco</a>
                <a href="{{BASE_PATH}}ChilisRandomizer/">Chili's</a>
                <a href="{{BASE_PATH}}OutbackSteakhouseRandomizer/">Outback Steakhouse</a>
                <a href="{{BASE_PATH}}TexasRoadhouseRandomizer/">Texas Roadhouse</a>
                <a href="{{BASE_PATH}}BonefishGrillRandomizer/">Bonefish Grill</a>
                <a href="{{BASE_PATH}}ShakeShackRandomizer/">Shake Shack</a>
                <a href="{{BASE_PATH}}SteakNShakeRandomizer/">Steak 'n Shake</a>
                <a href="{{BASE_PATH}}MooyahRandomizer/">MOOYAH</a>
                <a href="{{BASE_PATH}}CrackerBarrelRandomizer/">Cracker Barrel</a>
                <a href="{{BASE_PATH}}SilverlakeRamenRandomizer/">Silverlake Ramen</a>
                <a href="{{BASE_PATH}}HickoryTavernRandomizer/">Hickory Tavern</a>
                <a href="{{BASE_PATH}}RaiLayThaiRandomizer/">Rai Lay Thai</a>
                <a href="{{BASE_PATH}}ShokuSushiRandomizer/">Shoku Sushi</a>
                <a href="{{BASE_PATH}}CopperRandomizer/">Copper Indian</a>
                <a href="{{BASE_PATH}}IliosGreekRandomizer/">Ilios Greek</a>
                <a href="{{BASE_PATH}}CommonMarketRandomizer/">Common Market</a>
                <a href="{{BASE_PATH}}PastaAndProvisionsRandomizer/">Pasta & Provisions</a>
                <a href="{{BASE_PATH}}FlowerChildRandomizer/">Flower Child</a>
                <a href="{{BASE_PATH}}InchinsBambooGardenRandomizer/">Inchin's Bamboo Garden</a>
            </div>
        </div>

        <div class="nav-category">
            <button class="nav-category-btn">Fast Food ▼</button>
            <div class="nav-links">
                <a href="{{BASE_PATH}}FastFoodPickerRandomizer/">Fast Food Randomizer</a>
                <a href="{{BASE_PATH}}McDonaldsRandomizer/">McDonald's</a>
                <a href="{{BASE_PATH}}SubwayRandomizer/">Subway</a>
                <a href="{{BASE_PATH}}ChickFilARandomizer/">Chick-fil-A</a>
                <a href="{{BASE_PATH}}StarbucksRandomizer/">Starbucks</a>
                <a href="{{BASE_PATH}}TacoBellRandomizer/">Taco Bell</a>
                <a href="{{BASE_PATH}}WendysRandomizer/">Wendy's</a>
                <a href="{{BASE_PATH}}BurgerKingRandomizer/">Burger King</a>
                <a href="{{BASE_PATH}}DunkinRandomizer/">Dunkin'</a>
                <a href="{{BASE_PATH}}SonicRandomizer/">Sonic Drive-In</a>
                <a href="{{BASE_PATH}}KFCRandomizer/">KFC</a>
                <a href="{{BASE_PATH}}DominosRandomizer/">Domino's</a>
                <a href="{{BASE_PATH}}PizzaHutRandomizer/">Pizza Hut</a>
                <a href="{{BASE_PATH}}PaneraBreadRandomizer/">Panera Bread</a>
                <a href="{{BASE_PATH}}PopeyesRandomizer/">Popeyes</a>
                <a href="{{BASE_PATH}}ArbysRandomizer/">Arby's</a>
                <a href="{{BASE_PATH}}JackInTheBoxRandomizer/">Jack in the Box</a>
                <a href="{{BASE_PATH}}JimmyJohnsRandomizer/">Jimmy John's</a>
                <a href="{{BASE_PATH}}DairyQueenRandomizer/">Dairy Queen</a>
                <a href="{{BASE_PATH}}LittleCaesarsRandomizer/">Little Caesars</a>
                <a href="{{BASE_PATH}}FiveGuysRandomizer/">Five Guys</a>
                <a href="{{BASE_PATH}}PandaExpressRandomizer/">Panda Express</a>
                <a href="{{BASE_PATH}}PapaJohnsRandomizer/">Papa John's</a>
                <a href="{{BASE_PATH}}HardeesCarlsJrRandomizer/">Hardee's / Carl's Jr.</a>
                <a href="{{BASE_PATH}}WhataburgerRandomizer/">Whataburger</a>
                <a href="{{BASE_PATH}}InNOutRandomizer/">In-N-Out Burger</a>
                <a href="{{BASE_PATH}}CulversRandomizer/">Culver's</a>
                <a href="{{BASE_PATH}}ZaxbysRandomizer/">Zaxby's</a>
                <a href="{{BASE_PATH}}RaisingCanesRandomizer/">Raising Cane's</a>
                <a href="{{BASE_PATH}}WingstopRandomizer/">Wingstop</a>
                <a href="{{BASE_PATH}}JerseyMikesRandomizer/">Jersey Mike's</a>
                <a href="{{BASE_PATH}}FirehouseSubsRandomizer/">Firehouse Subs</a>
                <a href="{{BASE_PATH}}BojanglesRandomizer/">Bojangles</a>
                <a href="{{BASE_PATH}}DelTacoRandomizer/">Del Taco</a>
                <a href="{{BASE_PATH}}WhiteCastleRandomizer/">White Castle</a>
            </div>
        </div>

        <div class="nav-category">
            <button class="nav-category-btn">Game References ▼</button>
            <div class="nav-links">
                <a href="{{BASE_PATH}}SoulframeWeaponReference/">Soulframe Weapons</a>
                <a href="{{BASE_PATH}}SoulframeArmorReference/">Soulframe Armor</a>
            </div>
        </div>
    </div>
</nav>
